.div_root_master{
    /* width: 100%; */
    display: flex;
    justify-content: center; 
    border: 1px solid black;
}
.master_conteiner{
    width: 1000px;
    /* display: flex; */
    /* justify-content: center; */
    border: 1px solid black;
}
.div_h1{
    display: flex;
    justify-content: center;
}

.border_div {
    border: 0px solid black;
    width: 120px;
}

.button_edit{
    width: 50px;
    height: 20px;
}